.footer {
  background-color: #111827;
  color: #cbd5e1;
  padding: 60px 40px 20px;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-about {
  flex: 1;
  min-width: 280px;
}

.logo {
  color: #facc15;
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 1.7;
  font-size: 15px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  background: #1f2937;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background: #facc15;
  color: black;
  transform: translateY(-5px);
}
.footer-links {
  flex: 1;
  min-width: 200px;
}

.footer-links h3 {
  margin-bottom: 20px;
  color: white;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #facc15;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
}

.footer-contact h3 {
  margin-bottom: 20px;
  color: white;
}

.footer-contact p {
  line-height: 1.6;
  font-size: 15px;
}

.qr-box {
  margin-top: 20px;
  text-align: center;
}

.qr-box img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background: white;
  padding: 10px;
}

.qr-box p {
  margin-top: 10px;
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid #374151;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
}

.scroll-top {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.scroll-top:hover {
  background-color: #1d4ed8;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .scroll-top {
    right: 20px;
    bottom: 20px;
  }
}